    <footer>
        <h1 class="row center">Contact Us</h1>
        <span class="row center">
        We'd love to hear from you! Stop by or give us a call today.
        </span>

        <div class="row footer-grid">
        <div>
            <i class="fa-regular fa-envelope"></i>
            <span>westocoffee@gmail.com</span>
        </div>
        <div>
            <i class="fa-brands fa-instagram"></i>
            <span>coffeetrip.ro</span>
        </div>
        </div>
        <div class="row footer-grid">
        <div>
            <i class="fa-solid fa-phone"></i>
            <span>0725 902 347</span>
        </div>
        <div>
            <i class="fa-brands fa-twitter"></i>
            <span>coffeetrip.ro</span>
        </div>
        </div>

        <!-- <span> All credits reserved</span> -->
    </footer>
    </div>
</body>
<script src="/script/script.js"></script>
</html>
