<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoffeeTrip</title>
    <link rel="icon" type="image/x-icon" href="/images/logo_trans_contur.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <a class="navbar-brand" href="/">
          <img src="/images/logo_trans_contur.png" alt="" />
        </a>
        <div>
          <!-- <div class="menu"> -->
          <div>
            <a href="/">Acasa</a>
            <a href="/produse">Produse</a>
            <a href="/meniu">Meniu</a>
            <a href="">Contact</a>
          </div>
        </div>
        <!-- <div class="row right-nav menu"> -->
        <div class="row right-nav">
          <div>
            <% if(!isLoggedIn) {%>
            <a href="/register">Sign Up</a>
            <% } else {%>
              <span><%= email %></span>
              <a href="/logout" role="button">Log Out</a>
            <% } %>
            <i class="fa-regular fa-user"></i>
          </div>
          <div>
            <a href="/cart">
              0
              <i class="fa-solid fa-bag-shopping"></i>
            </a>
          </div>
        </div>
        <div class="menu">
          <a href="/">Acasa</a>
          <a href="/produse">Produse</a>
          <a href="/meniu">Meniu</a>
          <a href="">Contact</a>
          <div>
            <a href="/register">Sign Up</a>
            <i class="fa-regular fa-user"></i>
          </div>
          <div>
            <a href="/cart">
              <span>0</span>
            </a>
            <i class="fa-solid fa-bag-shopping"></i>
          </div>
        </div>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </header>

